{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e62a9b2505.js" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" type="text/css" href="/static/sauces/styles.css">
</head>
<section class="color-section" id="title">

    <div class="container-fluid">

<!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'sauces-home' %}">JYH Hot Sauce Index</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav ms-auto">
            
                <li class="nav-item">
<!-- Search Bar -----> <input type="search" id="search" name="search" value="Search..."><br>
                </li>

            <li class="nav-item">
            <a class="nav-link" href="#review">Taste a Sauce</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="">About This Project</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link"  href="{% url 'profile' %}">Profile</a>
                <a class="nav-link"  href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-link"  href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
        </div>
    </nav>

    <p id="GFG_UP" style="font-size: 15px; font-weight: bold;"></p>
    
</section>
{% if messages %}
    {% for message in messages %}
    Bootstrap alert div goes here with alert alert-{{ message.tags }}
    {{ message }}
    {% endfor %}
{% endif %}
{% block content %}
{% endblock %}
<footer class="white-section" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 footer-fun">
                <p>All information on this page is delicious, unless otherwise stated.</p>
            </div>
                <!-- <i class="fa-brands fa-twitter social-icon"></i>
                <i class="fa-brands fa-facebook-f social-icon"></i>
                <i class="fa-brands fa-instagram social-icon"></i>
                <i class="fa-solid fa-envelope social-icon"></i> -->
            <div class="col-4 footer-copywrite">
                <p>© Copyright 2022 JYH Hot Sauce Index</p>
            </div>
        </div>
    </div>
  </footer>
  </html>