{% extends "sauces/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="white-section" id="cards">
    <br />

<!-- Cards Begin ------------->
        <div class="card-container">
            <div class="row">
{% for sauce in sauce_cards %}
<div class="col-md-6 cardgrid"> 
    <div class="card">
        
        <h2>
            <a href="{% url 'sauce-details' sauce.id %}">{{ sauce.hot_sauce_name }}</a>
        </h2>

        <div class="row no-gutters">
            <div class="col-md-3">
                
                <div class="card-manufacturer">
            <a href="{% url 'manufacturer-details' sauce.manufacturer_id %}">{{ sauce.manufacturer_name }}</a>
        </div>

    </div>
    <div class="col-md-9">
        <div class="inner-card-container">
            <div class="row no-gutters">
                <div class="col-3">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="emoji">
                                ✨
                            </div>
                        </div>
                        <div class="col-6 rating">  
                            <div class="rating-container">
                                <div class="row">               
                                    <div class="col-6 main-rating">
            {{ sauce.avg_overall|floatformat }}
        </div>
        <div class="col-6 sub-rating">
            /5
        </div>
    </div> 
</div>
</div>
</div>
</div>
<div class="col-3">
<div class="row no-gutters">
<div class="col-6">
<div class="emoji">
    🌶️
</div>
</div>
<div class="col-6 rating">  
<div class="rating-container">
    <div class="row">               
        <div class="col-6 main-rating">
            {{ sauce.avg_spiciness|floatformat }}
        </div>
        <div class="col-6 sub-rating">
            /10
        </div>
    </div> 
</div>
</div>
</div>
</div>
<div class="col-3">
<div class="row no-gutters">
<div class="col-6">
<div class="emoji">
    👁️
</div>
</div>
<div class="col-6 rating">  
<div class="rating-container">
    <div class="row">               
        <div class="col-6 main-rating">    
            {{ sauce.avg_presentation|floatformat }}
        </div>
        <div class="col-6 sub-rating">
            /5
        </div>
    </div> 
</div>
</div>
</div>
</div>
<div class="col-3">
<div class="row no-gutters">
<div class="col-6">
<div class="emoji">
    ❤️
</div>
</div>
<div class="col-6 rating">  
<div class="rating-container">
    <div class="row">               
        <div class="col-6 main-rating">    
            {{ sauce.lovepct|floatformat }}
        </div>
        <div class="col-6 sub-rating">
            {{ sauce.number_tastings }}
        </div>
    </div> 
</div>
</div>
</div>
</div>
</div>
</div>
</div>   
</div>
</div>
</div>        
{% endfor %}




<div class="pagination" id="pagination">
    {% if sauce_cards.has_previous %}
    <a class="btn btn-secondary" href="?page=1">&laquo;</a>
    <a class="btn btn-secondary" href="?page={{ sauce_cards.previous_page_number }}">&lt;</a>
    {% endif %}
    {% for num in sauce_cards.paginator.page_range %}
        {% if sauce_cards.number == num %}
        <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
        {% elif num > sauce_cards.number|add:'-3' and num < sauce_cards.number|add:'3' %}
        <a class="btn btn-secondary" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if sauce_cards.has_next %}
    <a class="btn btn-secondary" href="?page={{ sauce_cards.next_page_number }}">&gt;</a>
    <a class="btn btn-secondary" href="?page={{ sauce_cards.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div>
</div>
</div>
</section>

    <!-- START T FORM -->
<section class="color-section" id="review">
    <h1>Taste it!</h1>
        <div class="review-form-container">
            <div class="review-form">
    <form action="" method="post">
        {% csrf_token %}
        {{ t_form.hot_sauce|as_crispy_field }}
        {% if user.is_authenticated %}
        <H1>ADD ANCHOR LINKING TO ADD SAUCE/MAN</H1>
        {% endif %}
        {{ t_form.presentation|as_crispy_field }}
        {{ t_form.overall_rating|as_crispy_field }}
        {{ t_form.spiciness|as_crispy_field }}
        {{ t_form.viscosity|as_crispy_field }}
        {{ t_form.lovedit|as_crispy_field }}
        {{ t_form.flavor_notes|as_crispy_field }}
        {% if user.is_authenticated %}
        {{ t_form.taster_notes|as_crispy_field }}
        {% endif %}

        <button type="submit" class="btn btn-dark btn-lg" name="tastesubmit">Taste it, baby!</button>
    </form>
    </div>
</div>

</section>
<!-- START T FORM -->







        {% if user.is_authenticated %}
        <!-- START S FORM -->
        <section class="color-section" id="addsauce">
            <h1>Add a Sauce</h1>
                <div class="review-form-container">
                    <div class="review-form">
        <form action="" method="post">
            {% csrf_token %}
            {{ s_form.name|as_crispy_field }}
            {{ s_form.manufacturer|as_crispy_field }}
            {{ s_form.heatsources|as_crispy_field }}
            <button type="submit" class="btn btn-dark btn-lg" name="saucesubmit">Add a Sauce</button>
        </form>
    </div>
</div>

</section>
<!-- END S FORM -->






<!-- START M FORM -->
<section class="color-section" id="addmanufacturer">
    <h1>Add a Manufacturer</h1>
        <div class="review-form-container">
            <div class="review-form">
        <form action="" method="post">
            
            {% csrf_token %}
            {{ m_form.name|as_crispy_field }}
            {{ m_form.located|as_crispy_field }}
            <button type="submit" class="btn btn-dark btn-lg" name="manufacturersubmit">Add a Manufacturer</button>
        </form>
    </div>
</div>

</section>
<!-- END M FORM -->
        {% endif %}









        <table style="display: none">
            {{ view.formset.empty_form }}
        </table>

        <table>
            {{ view.formset }}
        </table>


<script type="text/javascript" src="/static/sauces/jquery.js"></script>


{{ t_form.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endblock %}