body {
  font-family: "Montserrat";
  text-align: center;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

/* Containers */

/* Sections */
.color-section {
  background-color: #ff4c68;
  color: #fff;
  padding: 1rem;
}

.white-section {
  background-color: white;
  padding: 2rem;
}

/* Headings */
.big-heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 3.5rem;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */
.review-button {
  position: fixed;
  width: 150px;
  height: 50px;
  bottom: 10px;
  right: 5px;
  padding: 0;
  border: 3px solid #ff4c68;
}


/* Title Image */
.title-image {
  z-index: 0;
  transform: rotate(25deg);
  position: absolute;
  right: 15%;
}

/* Footer Section */
#footer {
  font-size: 1.5rem;
}

.social-icon {
  margin: 20px 10px;
}

p {
  font-size: 1rem;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.card {
  text-align: left;
  padding: 5px;
  margin: .5rem;
}

.card-manufacturer {
  width: 100%;
  /* border: 1px solid; */
  height: 100%;
  display: flex;
  align-items: center;
}

.rating {
  font-size: 1rem;
}

.emoji {
  font-size: 300%;  
}

.sauce-emoji {
  font-size: 200%;
}

.inner-card-container {
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
.col,
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

hr {
  border: 0;
  color: #ff4c68;
  opacity: 1;
}

.pagination {
  border: 1px solid;
  width: 50%;
  height: 50px;
  margin: 10px auto 0;
}

.review-form {
  border: 1px solid;
  width: 80%;
  height: 50rem;
  margin: 0 auto;
}

.review-form-container {
  width: 100%;
  padding-bottom: 2rem;
}

.search-reviews {
  border: 1px solid;
  width: 50%;
  height: 50px;
  margin: 10px auto 0;
}

.footer-fun {
  text-align: left;
}

.footer-copywrite {
  text-align: right;
}

#search {
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;
}

.sauce-container {
  border: 3px solid yellow;
  width: 100%;
  height: auto;
}

.big-sauce-card {
  border: 5px solid cyan;
  width: 100%;
  height: 50%;
  text-align: left;
  position: relative;
}

.sauce-row {
  height: 70%;
}

.sauce-manufacturer {
  border: 1px solid black;
}

.sauce-ratings {
  border: 1px solid black;
  height: 100%;
  padding: 30px;
}

.sauce-flavor-notes {
  border: 1px solid black;
  height: 100%;
}

.sauce-thickness {
  border: 1px solid black;
  height: 100%;
}

.sauce-tastings {
  border: 1px solid black;
  width: 20%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.sauce-tasting-section {
  border: 5px solid red;
  margin-top: 10px;
}

.sauce-tasting-card {
  border: 3px solid orange;
}

.sauce-tasting-ratings {
  border: 4px solid green;
}

.sauce-tasting-notes {
  border: 1px solid black;
}

.rating-container {
  /* border: 1px solid orange; */
  width: 150px;
  position: relative;
}

.sub-rating {
  /* border: 1px solid red; */
  position: absolute;
  left: 13px;
  top: 10px;
  text-align: left;
  color: grey;
}

.main-rating {
  /* border: 1px solid black; */
  width: 20%;
  text-align: center;

}


/* Media Queries */
@media (max-width: 1081px) {
  html, body {
    width:100%;
    overflow-x: hidden;
   }
  
  .color-section {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    margin-top: 2rem;
  }

  .col {
    margin-top: 2rem;
  }

  .big-heading {
    font-size: 4rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: .75rem;
  }

  .emoji {
    font-size: 200%; 
  }
  
  .sauce-emoji {
    font-size: 150%;
  }
  
  .navbar-brand {
    font-size: 1rem;
}

@media (min-width: 1444px) {
  .title-image {
    right: 25%;
    width: 350px;
  }

  .review-button {
    display: none;
  }
}
