body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

/* Containers */
.container-fluid{
  
}

/* Sections */
.color-section {
  background-color: #ff4c68;
  color: #fff;
  padding: 2;
}

.white-section {
  background-color: white;
  padding: 2rem;
}

/* Headings */
.big-heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 3.5rem;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  position: relative;
  z-index: 1;
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  z-index: 0;
  transform: rotate(25deg);
  position: absolute;
  right: 15%;
}

/* Media Queries */
@media (max-width: 1081px) {
  .color-section{
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    margin-top: 2rem;
  }

  .col {
    margin-top: 2rem;
  }

  .big-heading {
    font-size: 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 3rem;
  }
}

@media (min-width: 1444px) {
  .title-image {
    right: 25%;
    width: 350px;
  }
}

/* Footer Section */
#footer {
  font-size: 1.5rem;
}

.social-icon {
  margin: 20px 10px;
}

p {
  font-size: 1rem;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.card {
  text-align: left;
  padding: 5px;
  margin: .5rem;
}

.card-manufacturer {
  width: 100%;
  border: 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
}

.rating {
  font-size: 1rem;
}

.emoji {
  font-size: 2rem;
}

.inner-card-container {
  border: 1px solid;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
.col,
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

hr {
  border: 0;
  color: #ff4c68;
  opacity: 1;
}

.pagination {
  border: 1px solid;
  width: 50%;
  height: 50px;
  margin: 10px auto 0;
}

.review-form {
  border: 1px solid;
  width: 80%;
  height: 50rem;
  margin: 0 auto;
}

.review-form-container {
  width: 100%;
  padding-bottom: 2rem;
}