body {
  font-family: "Montserrat";
  text-align: center;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

h3 {
  text-align: center;
}

/* Containers */

/* Sections */
.color-section {
  background-color: #ff4c68;
  color: #fff;
  padding: 1rem;
}

.white-section {
  background-color: white;
  padding: 2rem;
}

/* Headings */
.big-heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 3.5rem;
}

/* Navigation Bar */


.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.nav-link:hover {
  font-weight: 400;
}

/* Download Buttons */
.review-button {
  position: fixed;
  width: 150px;
  height: 50px;
  bottom: 10px;
  right: 5px;
  padding: 0;
  border: 3px solid #ff4c68;
}

/* Title Image */
.title-image {
  z-index: 0;
  transform: rotate(25deg);
  position: absolute;
  right: 15%;
}

/* Footer Section */
#footer {
  font-size: 1.5rem;
}

.social-icon {
  margin: 20px 10px;
}

p {
  font-size: 1rem;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.card {
  text-align: left;
  padding: 5px;
  margin: .5rem;
}

.card-manufacturer {
  width: 100%;
  /* border: 1px solid; */
  height: 100%;
  display: flex;
  align-items: center;
}

.manufacturer-name {
  font-size: .75rem;
}

.sauce-name {
  font-size: 1.5rem;
}

.rating {
  font-size: 1rem;
}

.emoji {
  font-size: 300%;  
}

.sauce-emoji {
  font-size: 200%;
}

.inner-card-container {
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
.col,
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

hr {
  border: 0;
  color: #ff4c68;
  opacity: 1;
}

.pagination-container {
  /* border: 1px solid; */
  padding-top: 30px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.review-form {
  /* border: 1px solid; */
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.review-form-container {
  width: 100%;
}

.review-form-inner-container {
  padding: 2rem 0;
}

.review-form-innermost-container {
  padding: 1rem 0;
}

.form-search {
  position: relative;
  width: 50%;
}

.search-reviews {
  border: 1px solid;
  width: 50%;
  height: 50px;
  margin: 10px auto 0;
}

.footer-fun {
  text-align: left;
}

.footer-copywrite {
  text-align: right;
}

#search {
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;
}

.sauce-container {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.big-sauce-card {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  text-align: left;
  position: relative;
}

.big-reviews-section {
  border: 3px solid black;
  margin: 0;
  margin-top: 20px;
}

.left-sauce-card {
  position: relative;
  border-right: 1px solid black;
  padding: 5px;
}

.sauce-row {
  height: 70%;
}

.sauce-manufacturer {
  /* border: 1px solid black; */
}

.sauce-ratings {
  padding-top: 20px;
}

.sauce-emoji {
  font-size: 400%;
  width: 80px;
  /* border: 1px solid black; */
}

.inner-sauce-ratings {
  position: relative;
  width: 140px;
  height: 100px;
  /* border: 1px solid orange; */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sauce-main-rating {
  font-size: 2rem;
  width: 40px;
  /* border: 1px solid black; */
}

.sauce-sub-rating {
  position: relative;
  font-size: 1.5rem;
  width: 85px;
  left: 100px;
  bottom: 65px;
  /* border: 1px solid black; */
  color: lightgrey;
}

.sauce-heat-sources {
 border-right: 1px solid black;
 height: 275px;
 padding: 8px;
}

.sauce-flavor-notes {
  height: 275px;
  padding: 8px;
}

.sauce-thickness {
  border-left: 1px solid black;
  height: 275px;
  padding: 8px;
}

.sauce-tastings {
  /* border: 1px solid black; */
  width: 20%;
  position: absolute;
  right: 0;
  text-align: right;
  margin-right: 5px;
}

.sauce-tasting-section {
  border: 1px solid black;
  margin-top: 10px;
}

.sauce-tasting-card {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
}

.sauce-tasting-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.sauce-tasting-ratings {
  /* border-bottom: 1px solid black; */
}

.sauce-tasting-notes {
  text-align: center;
  border-top: 1px solid black;
}

.rating-container {
  /* border: 1px solid orange; */
  width: 150px;
  position: relative;
}

.sub-rating {
  /* border: 1px solid red; */
  position: absolute;
  left: 17px;
  top: 10px;
  text-align: left;
  color: lightgrey;
}

.main-rating {
  /* border: 1px solid black; */
  width: 20%;
  text-align: center;
}

/* Media Queries */
@media (max-width: 1300px) {
  html, body {
    width:100%;
    overflow-x: hidden;
  }
  
  .color-section {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    margin-top: 2rem;
  }

  .col {
    margin-top: 2rem;
  }

  .big-heading {
    font-size: 4rem;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .emoji {
    font-size: 150%; 
  }

  .left-sauce-card {
    position: relative;
    border-bottom: 1px solid black;
    border-right: 0;
    padding: 5px;
  }

  .sauce-tasting-ratings { 
    margin-left: 30px;
    margin-top: 20px;  
    border-bottom: 0; 
  }

  .sauce-tasting-notes {
    border-top: 1px solid black;
    padding: .5rem;
  }

  .inner-sauce-ratings {
    width: 150px;
  }
  
  .sauce-emoji {
    font-size: 300%;
    width: 90px;
    padding-left: 20px;
    /* border: 1px solid black; */
  }

  .sauce-main-rating {
    text-align: right;
    font-size: 2rem;
  }

  .sauce-sub-rating {
    position: absolute;
    top: 30px;
    right: 0;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: bold;
  }

  .review-form {
    /* border: 1px solid; */
    width: 80%;
  }
}

@media (min-width: 1444px) {
  .title-image {
    right: 25%;
    width: 350px;
  }

  .review-button {
    display: none;
  }
}